*{box-sizing: border-box;}

a{color: inherit;}

main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/FUcover.jpg) center/cover no-repeat;
}

footer{margin: 0;}

.container{
    overflow: hidden;
    display: flex;
    align-items: center;
    height: fit-content;
    width: 30vw;
    margin: 1vw;
    transition: all 1s ease;
    border-radius: 10px;
}


.cover{
    height: 30vh;
    width: 30vw;
    flex-shrink: 0;
    transition: transform 1s ease;
    align-items: center;
    text-align: center;
    padding: 5%;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1vw 0 0;
}

#c1{background: url(../images/FUcover1.jpg) center/cover no-repeat;}

#c2{background: url(../images/FUcover2.jpg) center/cover no-repeat;}

#c3{background: url(../images/FUcover3.jpg) center/cover no-repeat;}

#c4{background: url(../images/FUcover4.jpg) center/cover no-repeat;}

#c5{background: url(../images/FUcover5.jpg) center/cover no-repeat;}

.content{
    height: 30vh;
    width: 30vw;
    flex-shrink: 0;
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    will-change: transform;
    h1{
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 3vw;
    }
}

@media screen and (min-width: 1024px){
    .container:hover{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .container:hover .cover {
        width: 31vw;
        margin: 1vw;
    }

    .container:hover .content {
        margin: 1vw;
    }


    .content:hover{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 1024px){
    .container{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .cover{
        width: 31vw;
        margin: 5vw 1vw;
    }
    .content{
        width: 30vw;
        margin: 1vw;
    }
}

@media screen and (max-width: 800px){
    main{margin-top: 52px;}
}

@media screen and (max-width: 460px){

    main{
        margin-top: 82px;
    }
    .container {
        flex-direction: column;
        margin: 2vw 0;
    }

    .cover, 
    .content {
        width: 100vw;
        height: 30vh;
        margin: 0;
    }

    .content h1, 
    .cover h1 {
        font-size: 6vw;
    }

    .cover p{
        font-size: 4vw;
    }
}