@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

.bgVideo{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body{
    margin: 0;
    color: #f1f5f9;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    background: #1e293b;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block;
}

.header{
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    font-family: "Michroma", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.title{
    color: #38bdf8;
    font-size: 2.5rem;
    margin: 0;
    padding-right: 0.9rem;
}

.menuIcon{
    display: none;
    font-size: 1.8rem;
    position: absolute;
    right: 0.6rem;
    top:0.7rem;
    cursor: pointer;
    line-height: 1;  
}

main{
    margin-top: 124px;  
}

.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #0f172a;
    padding: 10px 0;
    font-size: 1.5rem;
}

.menu a{
    color: #f1f5f9;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover,
.menu a.active{
    color: #38bdf8;
    transform: scale(1.1) translateY(-2px);
    transition: all 1s ease;
}


#menuToggle{
    display: none;
}

footer{
    background-color: #0f172a;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    z-index: 5;

    p{
        align-items: center;
        width: 80%;
        font-size: 1.2rem;
        font-family: "Michroma", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
    }

    a{
        position: relative;
        text-decoration: none;
        text-align: center;
        color: #38bdf8;
        font-size: 1rem;
        width: 10%;
        font-family: "Michroma", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        transition: all 1s ease;
        margin: 10px;
    }

    a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 5rem;
        height: 2px;
        background-color: #60cfff;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: all 1s ease;
    }

    a:hover::after {
        transform: translateX(-50%) scaleX(1);
        width:100%
    }

    a:hover{
        color: #60cfff;
        font-size: 1.5rem;
    }
}

@media(max-width: 800px){
    .menuIcon{
        display: inline-block;
    }

    .menu{
        display: none;
        flex-direction: column;
        background: #0f172a;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    #menuToggle:checked + .menuIcon + .menu {
        display: flex;
    }

    main{
        margin-top: 50px;
    }

    .title{
        font-size: 1.4rem;
    }

    header{
        flex-wrap: wrap;
    }

    footer{
        height: 50px;
        padding-left: 20px;
        p{
        font-size: 0.7rem;
        }

        a{
        font-size: 0.5rem;
        width: 15%;
        }
    }
}